DyAnnoRoid/bin/
DyAnnoRoid/.classpath
DyAnnoRoid/.settings/org.eclipse.jdt.core.prefs
DyAnnoRide-Example/bin/
DyAnnoRide-Example/.classpath
DyAnnoRide-Example/.settings/org.eclipse.jdt.core.prefs
DyAnnoRoid/gen/
DyAnnoRide-Example/gen/
